[Unit]
Description=Traefik (docker compose)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/data/traefik
ExecStart=/usr/bin/docker compose -f /data/traefik/compose.yml up -d
ExecStop=/usr/bin/docker compose -f /data/traefik/compose.yml down
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target