[Unit]
Description=Frigate (docker compose)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/data/frigate
ExecStart=/usr/bin/docker compose -f /data/frigate/compose.yml up -d
ExecStop=/usr/bin/docker compose -f /data/frigate/compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target