[Unit]
Description=Music Assistant Server (docker compose)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/data/music-assistant-server
ExecStart=/usr/bin/docker compose -f /data/music-assistant-server/compose.yml up -d
ExecStop=/usr/bin/docker compose -f /data/music-assistant-server/compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target