- name: Install Traefik
  hosts: pi5,pihole
  become: true
  vars:
    app_name: "traefik"
    app_dir: "/data/{{ app_name }}"
    app_user: "{{ ansible_user }}"
    app_group: "{{ ansible_group }}"

  tasks:
    - name: Create directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ app_user }}"
        group: "{{ app_group }}"
        mode: "0755"
      loop:
        - /data/traefik
        - /data/traefik/dynamic

    - name: Install traefike config file
      ansible.builtin.template:
        src: traefik.yml
        dest: /data/traefik/traefik.yml
        owner: "{{ app_user }}"
        group: "{{ app_group }}"
        mode: "0600"

    - name: Install compose file
      ansible.builtin.template:
        src: compose.yml.j2
        dest: /data/traefik/compose.yml
        owner: "{{ app_user }}"
        group: "{{ app_group }}"
        mode: "0600"

    - name: Traefik install service
      ansible.builtin.copy:
        src: etc/systemd/system/traefik.service
        dest: /etc/systemd/system/traefik.service
        mode: "0644"
        owner: root
        group: root

    - name: Enable traefik service
      ansible.builtin.service:
        name: traefik
        enabled: true

    - name: Start service traefik, if not started
      ansible.builtin.service:
        name: traefik
        state: restarted
