services:
  home-assistant:
    container_name: home-assistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      #- /data/home-assistant/development/homeassistant/components/modbus:/usr/src/homeassistant/homeassistant/components/modbus
      - /data/home-assistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    devices:
      - /dev/serial/by-id/{{ usb_modbus_id }}:/dev/ttyUSB0
      - /dev/serial/by-id/{{ usb_p1_id }}:/dev/ttyUSB1
      - /dev/serial/by-id/{{ usb_zigbee_id }}:/dev/ttyUSB2
    cap_add:
      - NET_ADMIN
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=webproxy"
      - "traefik.http.routers.home-assistant.rule=Host(`hass.{{ local_domain }}`) || Host(`hass.{{ public_domain }}`)"
      - "traefik.http.routers.home-assistant.entrypoints=web"
      - "traefik.http.services.home-assistant.loadbalancer.server.port=8123"
    networks:
       - public
       - local
    ports:
      - "8123:8123"
    dns:
      - '{{ dns_1 }}'
      - '{{ dns_2 }}'

networks:
  local:
     name: home-assistant

  public:
    external: true
    name: "webproxy"