- name: Install Home Assistant
  hosts: pi5
  become: true
  vars:
    app_name: "home-assistant"
    app_dir: "/data/{{ app_name }}"
    app_user: "{{ ansible_user }}"
    app_group: "{{ ansible_group }}"
    docker_port_http: "8123"
    host: "hass.home"

  tasks:
    - name: Create Home Assistant directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ system_user }}"
        group: "{{ system_group }}"
        mode: "0755"
      loop:
        - /data/home-assistant
        - /data/home-assistant/development

    - name: Install development version of Home Assistant
      become: false
      ansible.builtin.git:
        repo: git@github.com:rutgerrademaker/home-assistant-core.git
        dest: /data/home-assistant/development
        version: feature/modbus-climate-onoff-with-coil
        key_file: ~/.ssh/id_ed25519
        accept_hostkey: true

    - name: Install Home Assistant compose file
      ansible.builtin.template:
        src: compose.yml.j2
        dest: /data/home-assistant/compose.yml
        owner: "{{ app_user }}"
        group: "{{ app_group }}"
        mode: "0600"

    - name: Install Home Assistant service
      ansible.builtin.copy:
        src: etc/systemd/system/home-assistant.service
        dest: /etc/systemd/system/home-assistant.service
        mode: "0644"
        owner: root
        group: root

    - name: Enable service home-assistant
      ansible.builtin.service:
        name: home-assistant
        enabled: true

    - name: Start service home-assistant
      ansible.builtin.service:
        name: home-assistant
        state: restarted
